main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*Login top*/
    .SessaoTexto {
        display: flex;
        gap: 0.5rem;
        flex-direction: column;
            span {
                h1 {
                    font-size: 1.8rem;
                }
            }
    }
    .BtnsLogin {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
            span {
                border: .1rem #000 solid;
                padding: .5rem 0rem;
                border-radius: 20px;
                background: var(--bs-white);
                display: flex;
                justify-content: center;
                align-items: center;
                gap: .5rem;
                cursor: pointer;
                    div {
                        width: 7.5%;
                    }
                    button {
                        background: var(--bs-white);
                    }
            }
    }
    .BtnsLogin {
        span:hover { 
            button {
                background: #f0f8ff;
            }
                background: #f0f8ff;
        }
    }
/*Login top*/