main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
section {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    padding: 2rem;
    border-radius: 15px;
}
/*Login top*/
    .SessaoTexto {
        display: flex;
        gap: 1.1rem;
        flex-direction: column;
            span {
                h1 {
                    font-size: 1.8rem;
                }
            }
    }
    .BtnsLogin {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
            span {
                border: .1rem #000 solid;
                padding: .5rem 0rem;
                border-radius: 20px;
                background: var(--bs-white);
                display: flex;
                justify-content: center;
                align-items: center;
                gap: .5rem;
                cursor: pointer;
                    div {
                        width: 7.5%;
                    }
                    button {
                        background: var(--bs-white);
                    }
            }
    }
    .BtnsLogin {
        span:hover { 
            button {
                background: #f0f8ff;
            }
                background: #f0f8ff;
        }
    }
/*Login top*/
/*Login mid*/
    .Sessaogap {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .5rem;
            span {
                border: 1px #00000069 solid;
                width: 100%;
            }
            p {
                color: #00000069;
            }
    }
/*Login mid*/