header {
    width: 80%;
    height: 10vh;
    display: flex;
    align-items: center;
    padding-left: 3rem;
}
footer {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    p {
        font-size: .8rem;
        color: #000000a0;
        text-align: center;
    }
}